<header
  class="header section gradient gradient-purple-navy alpha-8 text-contrast blanket parallax cover"
  style="background-image: url(assets/img/bg/sunrise.jpg);"
>
  <div class="container-fluid pb-9">
    <div class="row text-center">
      <div class="col-12 col-lg-6 mx-auto">
        <img src="assets/img/logo-light.png" alt="" />

        <h1
          class="text-contrast bold display-4 display-md-3 text-capitalize mt-5"
        >
          Meet Us
        </h1>
        <p class="lead bold">
          Ceau is an easy to implement, adaptable authentication and
          authorization platform. Basically, we make your login box awesome.
        </p>

        <nav class="nav d-flex justify-content-center mb-5 mt-7">
          <a
            href="https://themeforest.net/item/dashcore-saas-startup-software-template/22397137"
            class="btn btn-rounded btn-success px-4 mr-2 mr-md-5"
            >Start now
            <fa-icon [icon]="fa.longArrowAltRight" class="ml-2"></fa-icon>
          </a>
          <a
            class="btn btn-rounded btn-outline-light px-4 mr-md-4"
            [ngx-scroll-to]="'#demos'"
            href="javascript:;"
            >Explore demos</a
          >
        </nav>
      </div>
    </div>
  </div>
</header>
