<div class="wrap-content container">
  <div class="back">
    <mat-icon>back</mat-icon>
    <span>Back to Applications</span>
  </div>
  <div class="wrap-header">
    <div class="img">
      <img src="https://cdn.auth0.com/manhattan/versions/1.3407.0/assets/none.svg" alt="">
    </div>
    <div class="content">
      <span class="title">Default App</span>
      <div class="detail">
        <span class="type text-secondary">Generic</span>
        <span class="name text-secondary">Client ID</span>
        <span class="code text-ceau-primary">Qa93sezCtVPI9fvi4HBE91jyOoHabdZz</span>
      </div>
    </div>
  </div>
  <div class="wrap-index">
    <a>Quick Start</a>
    <a>Settings</a>
    <a>Addons</a>
    <a>Connections</a>
    <a>Organizations</a>
  </div>
  <div class="content">
    <div class="wrap-border">

    </div>
  </div>
</div>
