<div class="container my-4">
  <div class="header mb-4">
    <div class="d-flex justify-content-between">
      <h4 class="text-title-small bold text-uppercase">User</h4>

      <a
        type="button"
        class="btn btn-primary text-large"
        [routerLink]="['../', 'create']"
      >
        Create new
      </a>
    </div>
    <h5 class="text-medium my-3">
      An easy to use UI to help administrators manage user identities including
      password resets, creating and provisioning, blocking and deleting users.
    </h5>
  </div>
  <div class="d-flex justify-content-sm-between">
    <div class="form-group mb-0">
      <!--      <label for='exampleInputEmailBase' class='form-label mb-0'>Search</label>-->
      <input
        type="text"
        class="form-control"
        id="exampleInputEmailBase"
        aria-describedby="emailHelp"
        placeholder="Search for users"
      />
    </div>
    <div class="form-group d-flex">
      <select
        class="form-select valid"
        id="exampleFormControlSelectMultipleBase"
        aria-invalid="false"
      >
        <option>Email</option>
        <option>Phone</option>
      </select>
    </div>
    <!--    <mat-form-field appearance='fill' style='width: 137px;'>-->
    <!--      <mat-label>Search value</mat-label>-->
    <!--      <mat-select>-->
    <!--        <mat-option value='option1'>Email1</mat-option>-->
    <!--        <mat-option value='option2'>Phone</mat-option>-->
    <!--      </mat-select>-->
    <!--    </mat-form-field>-->
  </div>
  <table class="table">
    <thead>
      <tr class="text-dark">
        <th scope="col">Email</th>
        <th scope="col">Phone</th>
        <!--      <th scope='col'>Connection</th>-->
        <th scope="col">Latest Login</th>

        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="text-dark" *ngFor="let item of listItem">
        <td>{{ item.email }}</td>
        <td>{{ item.phone }}</td>
        <!--      <td>{{item.is_active}}</td>-->
        <td>{{ item.last_login | date: 'dd/MM/yyyy' }}</td>
        <td>
          <!--        <dc-setting-role></dc-setting-role>-->
          <a [routerLink]="['../', 'detail', item.id]" class="text-primary bold"
            >Edit</a
          >
        </td>
      </tr>
    </tbody>
  </table>
</div>
