<div class="wrap-content">
  <div class="container mt-4">
    <a
      class="btn btn-info text-light text-medium"
      [routerLink]="['../../', 'list']"
      >< Back</a
    >
    <div class="setting-list-page my-4">
      <div class="">
        <h3 class="text-darker bold">Detail User</h3>
        <div>
          <span class="text-medium my-auto"
            >ID:
            <span class="text-medium text-dark bg-light">{{
              userDetailDto?.id
            }}</span>
          </span>
          <p *ngIf="userDetailDto?.last_login">
            Last login: {{ userDetailDto.last_login | date: 'dd/MM/yyyy' }}
          </p>
        </div>
      </div>
      <form
        [formGroup]="profileForm"
        class="cozy"
        action="srv/login.php"
        data-validate-on="submit"
        novalidate
      >
        <!--    Email-->
        <label class="control-label bold small text-uppercase text-secondary"
          >Email</label
        >
        <p class="text-danger my-0">{{ waring?.email }}</p>
        <div class="form-group has-icon">
          <input
            type="text"
            id="login_username"
            name="Login[username]"
            class="form-control form-control-rounded"
            placeholder="Your registered username"
            required
            formControlName="email"
            disabled
          />
          <fa-icon [icon]="fa.user" class="icon"></fa-icon>
        </div>
        <!--Name-->
        <label class="control-label bold small text-uppercase text-secondary"
          >Name</label
        >
        <p class="text-danger my-0">{{ waring?.name }}</p>
        <div class="form-group has-icon">
          <input
            type="text"
            id="login_name"
            name="Login[name]"
            class="form-control form-control-rounded"
            placeholder="Your name"
            required
            formControlName="name"
          />
          <fa-icon [icon]="fa.userAlt" class="icon"></fa-icon>
        </div>
        <!--Phone-->
        <label class="control-label bold small text-uppercase text-secondary"
          >Phone number</label
        >
        <p class="text-danger my-0">{{ waring?.phone }}</p>
        <div class="form-group has-icon">
          <input
            type="text"
            id="login_phone"
            name="Login[phone]"
            class="form-control form-control-rounded"
            placeholder="Your phone"
            required
            formControlName="phone"
          />
          <fa-icon [icon]="fa.phone" class="icon"></fa-icon>
        </div>
        <!--Status-->
        <div>
          <label class="control-label bold small text-uppercase text-secondary"
            >Status</label
          >
          <p class="text-danger my-0">{{ waring?.phone }}</p>
          <mat-slide-toggle
            (change)="changeSlideStogger($event)"
            formControlName="is_active"
            [checked]="profileForm.value.is_active"
          ></mat-slide-toggle>
        </div>

        <!--Button-->
        <div
          class="my-2 form-group d-flex align-items-center justify-content-between"
        >
          <div class="ajax-button">
            <div class="fas fa-check btn-status text-success success"></div>
            <div class="fas fa-times btn-status text-danger failed"></div>
            <div
              (click)="onSubmit()"
              class="btn btn-primary btn-rounded cursor-pointer"
            >
              Save
              <fa-icon [icon]="fa.longArrowAltRight" class="ml-2"></fa-icon>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
