<dc-navbar-shell
  [darkLinks]="darkLinks"
  [useOnlyDarkLogo]="darkLinks ? true : useOnlyDarkLogo"
>
  <ul class="nav navbar-nav" [class.ml-auto]="isRightPositioned()">
    <li class=" my-auto hide-in-mobile">
      <dc-menu-client [dynamic]="true" [currItem]="currClient"></dc-menu-client>
    </li>
    <li class="nav-item hide-in-pc" style="padding: 16px; color: #5533ff;">
      <div *ngIf="currClient.name" class="wrap-cont text-dark ">
        <div class="wrap-name d-flex">
          <div class="gradient-border px-1 " style="max-width:100%">
            <div class="client-name overflow-hidden">
              <span class="bold">{{ currClient.name }}</span>
            </div>
            <div class="mode overflow-hidden" *ngIf="currClient.domains">
              <span class="">{{ currClient.domains[0].domain }}</span>
            </div>
          </div>
        </div>
      </div>
    </li>

    <li class="nav-item hide-in-pc">
      <a class="nav-link" [routerLink]="['/home']">Home</a>
    </li>
    <li
      class="nav-item dropdown mega hide-in-mobile "
      ngbDropdown
      placement="bottom left right"
      *ngIf="isAuthenticated()"
    >
      <a class="nav-link dropdown-toggle" ngbDropdownToggle href="javascript:;">
        <mat-icon style="font-size: 35px">account_circle</mat-icon>
      </a>
      <div class="dropdown-menu  p-3  dropdown-profile" ngbDropdownMenu>
        <div class="row">
          <div class="  col-md-12 text-start">
            <div class="px-2 d-flex">
              <mat-icon style="font-size: 40px">account_box</mat-icon>
              <div class="info-user mb-3 ml-2 overflow-hidden">
                <p class="text-small px-2 py-0 my-0 bold">
                  {{ profileUser?.name }}
                </p>
                <p class="text-small px-2 py-0 my-0">
                  {{ profileUser?.email }}
                </p>
              </div>
            </div>
            <a
              class="dropdown-item dropdown-profile-border px-2 d-flex text-small py-0"
              [routerLink]="['/profile']"
              ><span><mat-icon>person</mat-icon></span
              ><span class="ml-1 my-auto">Profile</span></a
            >
            <a
              class="dropdown-item dropdown-profile-border px-2 d-flex text-small py-0"
              routerLink="home"
              (click)="signOut()"
            >
              <mat-icon>exit_to_app</mat-icon>
              <span class="ml-1 my-auto">Logout</span>
            </a>
          </div>

          <div class="col-md-4"></div>

          <div class="col-md-4"></div>
        </div>
      </div>
    </li>
    <li class="nav-item hide-in-pc">
      <a class="nav-link" [routerLink]="['/intro', 'page']">Introduction</a>
    </li>
    <li class="nav-item hide-in-pc" *ngIf="isAuthenticated()">
      <a class="nav-link" [routerLink]="['/profile']">Profile</a>
    </li>
    <li class="nav-item hide-in-pc" *ngIf="isAuthenticated()">
      <a class="nav-link" [routerLink]="['/applications', 'list']"
        >Application</a
      >
    </li>
    <li class="nav-item hide-in-pc" *ngIf="isAuthenticated()">
      <a class="nav-link" [routerLink]="['/client', 'list']">Client</a>
    </li>
    <li
      class="nav-item hide-in-pc"
      *ngIf="isAuthenticated() && isSelectClient()"
    >
      <a class="nav-link" [routerLink]="['/role', 'list']">Role</a>
    </li>
    <li
      class="nav-item hide-in-pc"
      *ngIf="isAuthenticated() && isSelectClient()"
    >
      <a class="nav-link" [routerLink]="['/user', 'list']">User</a>
    </li>
    <li
      class="nav-item hide-in-pc"
      *ngIf="isAuthenticated() && isSelectClient()"
    >
      <a class="nav-link" [routerLink]="['/tenant-api', 'list']">Permission</a>
    </li>
  </ul>

  <nav
    class="nav navbar-nav justify-content-center mt-4 mt-md-0 flex-row"
    [ngClass]="{ 'ml-md-auto': !isRightPositioned() }"
  >
    <a
      class="btn btn-rounded btn-outline mr-3 px-3"
      [routerLink]="['/auth/login']"
      *ngIf="!isAuthenticated()"
    >
      <fa-icon
        [icon]="signInAlt"
        class="d-none d-md-inline mr-md-0 mr-lg-2"
      ></fa-icon>
      <span class="d-md-none d-lg-inline">Login</span>
    </a>
    <a
      *ngIf="!isAuthenticated()"
      class="btn btn-rounded btn-solid px-3"
      [routerLink]="['/auth/register']"
    >
      <fa-icon
        [icon]="userPlus"
        class="d-none d-md-inline mr-md-0 mr-lg-2"
      ></fa-icon>
      <span class="d-md-none d-lg-inline">Sign up</span>
    </a>
    <a
      *ngIf="isAuthenticated()"
      class="btn btn-rounded btn-solid px-3 cursor-pointer hide-in-pc"
      (click)="signOut()"
    >
      <fa-icon
        [icon]="singOutAlt"
        class="d-none d-md-inline mr-md-0 mr-lg-2"
      ></fa-icon>
      <span class="d-md-none d-lg-inline">Sign out</span>
    </a>
  </nav>
</dc-navbar-shell>
