span {
  margin-right: 10px;
}
img {
  width: 17px;
  margin-bottom: 6px;
}
img:hover {
  transform: scale(1.1);
}
.copy-icon {
  .copy-text {
    right: -16px;
    top: -36px;
    padding: 5px 5px;
    margin-right: 0;
  }
}
