<div class="container">
  <div class="justify-content-between d-flex">
    <h4>Select Permisson</h4>
    <button class="btn btn-outline-danger" [mat-dialog-close]="onCloseDialog()">
      Close
    </button>
  </div>
  <div class="justify-content-center d-flex">
    <ag-grid-angular
      style="width: 100%; height: 500px;"
      class="ag-theme-alpine"
      [rowData]="rowData"
      [columnDefs]="columnDefs"
      [rowSelection]="'multiple'"
      (selectionChanged)="onSelectionChanged($event)"
      [frameworkComponents]="frameworkComponents"
    >
    </ag-grid-angular>
  </div>
</div>
