<div class="wrap-content">
  <a href="">
    <p><mat-icon class="mat-icon">flag</mat-icon>Getting Started</p></a>
  <a routerLink="/user-application/list" [routerLinkActive]="'activelink'">
    <p><mat-icon class="mat-icon">apps</mat-icon>Application</p></a>
  <a href="">
    <p><mat-icon class="mat-icon">person_outline</mat-icon>User Management</p></a>
  <a href="">
    <p><mat-icon class="mat-icon">verified_user</mat-icon>Security</p></a>
  <a href="">
    <p><mat-icon class="mat-icon">settings</mat-icon>Setting</p></a>
</div>
