<nav class="navbar navbar-expand-lg ">
  <div class="wrap-left">
    <a class="navbar-brand" href="#">CEAU</a>
    <div class="wrap-cont">
      <div class="wrap-name">
        <div class="client-name">
          <span>Client name</span>
        </div>
        <div class="mode">
          <span>Develop</span>
        </div>
      </div>
      <div class="dropdown-icon">
        <img src="../../../assets/images/header/dropdown-icon.svg" alt="">
      </div>
      <div class="dropdown-menu border-10" style="    display: block;
    top: 45px;">
        <div class="wrap-list border-10">
          <div class="search">
            <input type="text" placeholder="Search...">
          </div>
          <div class="list-item">
            <div class="item">
              <span class="c-name">Client name</span>
<!--              <span class="domain">Domain</span>-->
              <span class="develop">Develop</span>
            </div>
            <div class="item">
              <span class="c-name">Client name</span>
<!--              <span class="domain">Domain</span>-->
              <span class="develop">Develop</span>
            </div>

          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <img src="../../../assets/images/header/search.png" alt="">
    </form>
  </div>
  <div class="user-info">
    <div class="noti">
      <img src="../../../assets/images/header/bell.png" alt="">
    </div>
    <div class="avatar" (click)="isOpenUserPopup = !isOpenUserPopup">
      <img src="../../../assets/images/header/ocb.png" alt="">
      <div class="user-action" [ngClass]="{'openPopUp':isOpenUserPopup}">
        <p (click)="logout()">Logout</p>
      </div>
    </div>
  </div>
</nav>
