.navbar {
  padding: 10px 20px;
  background-color: #151A93;
  justify-content: space-between;
  .wrap-left {
    display: grid;
    grid-template-columns: 70px 1fr;

    .navbar-brand {
      margin-right: 0;
      font-family: Rationale;
      color: white;
      text-decoration: none;
      border-right: 2px solid white;
      margin-right: 5px;
    }
    .wrap-cont:hover{
      .dropdown-menu{
        display: block;
      }
    }
    .wrap-cont {
      display: grid;
      grid-template-columns: 1fr 1fr;
      position: relative;
      .wrap-name {
        .client-name {
          color:white;
          font-size: 14px;
        }

        .mode {
          font-size: 14px;
          color: #817070;
        }
      }

      .dropdown-icon {
        width: 24px;
        margin-top: 8px;
        margin-left: 5px;
      }
      .dropdown-menu{
        width: 194px;
        top: 40px;
        padding: 10px 7px;
        .wrap-list{
          padding: 5px;
          border: 1px dotted #6F71E5;
          .search{
            input{
              font-size: 14px;
              border: none;
              background-color: #F9F6F6;
              padding: 5px;
              border-radius: 10px;
            }
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
              color: #151A93;
              opacity: 1; /* Firefox */
            }

            :-ms-input-placeholder { /* Internet Explorer 10-11 */
              color: #151A93;
            }

            ::-ms-input-placeholder { /* Microsoft Edge */
              color: #151A93;
            }
          }
          .list-item{
            max-height: 250px;
            height: auto;
            overflow-x: hidden;
            .item{
              cursor: pointer;
              font-size: 14px;
              background-color: #F0EEFF;
              padding: 5px;
              border-radius: 10px;
              margin: 5px 0px;
              span{
              display: block;
              }
              .c-name{

              }
              .domain{

              }
              .develop{

              }
            }
          }
        }
        .setting{
          text-align: center;
          border: 1px solid #F0EEFF;
          border-radius: 10px;
          margin-top: 5px;
          cursor: pointer;
        }
      }
    }
    .wrap-cont:hover{
      .dropdown-icon{
          transform: scale(1.2);
      }
      .dropdown-menu{
        display: block;
      }
    }
  }

}

#navbarSupportedContent {
  justify-content: center;
  align-items: center;

  form {
    display: flex;
    justify-content: center;

    input {
      width: 400px;
      height: 30px;
      margin-top: 3px;
    }

    img {
      margin-top: 8px;
      width: 20px;
      height: 20px;
      margin-left: 20px;
    }
  }
}

.user-info {
  display: flex;

  .noti {
    margin-top: 4px;

    img {
      width: 25px;
      height: 25px;
      margin-top: 5px;
    }
  }

  .avatar {
    position: relative;
    margin-top: 5px;
    cursor: pointer;

    img {
      width: 35px;
      height: 35px;
      margin-left: 15px;
    }

    .user-action {
      display: none;
      background: #f7c0c0;
      width: 70px;
      position: absolute;
      right: 0;
      border-radius: 10px;
      text-align: center;

      p {
        cursor: pointer;
        margin-bottom: 0;
      }
    }
  }
}

.openPopUp {
  display: block !important;
}
