<nav class="navbar navbar-expand-lg ">
  <div class="wrap-left">
    <a class="navbar-brand" href="#">CEAU</a>
    <div class="wrap-cont">
      <div class="wrap-name">
        <div class="client-name">
          <span>{{currItem.name}}</span>
        </div>
        <div class="mode" style="color: white">
          <span>{{currItem.mode}}</span>
        </div>
      </div>
      <div class="dropdown-icon">
      <mat-icon style="color: white">expand_more</mat-icon>
      </div>
      <div class="dropdown-menu border-10">
        <div class="wrap-list border-10">
          <div class="search">
            <input type="text" placeholder="Search..." (input)="changeSeachForm($event)">
          </div>
          <div class="list-item">
            <div class="item" *ngFor="let item of listItem" (click)="changeItem(item.name,item.schema_name)">
              <span class="c-name">{{item.name}}</span>
<!--              <span class="domain">Domain</span>-->
              <span class="develop">{{item.schema_name}}</span>
            </div>

          </div>
        </div>
        <div class="setting">
          <span>Setting</span>
        </div>
      </div>
    </div>

  </div>
<!--  <div class="collapse navbar-collapse" id="navbarSupportedContent">-->
<!--    <form class="form-inline my-2 my-lg-0">-->
<!--      <input class="form-control mr-sm-2" type="search"-->
<!--             placeholder="Search" aria-label="Search">-->
<!--      <img src="../../../assets/images/header/search.png" alt="">-->
<!--    </form>-->
<!--  </div>-->
  <div class="user-info">
    <div class="noti">
      <img src="../../../assets/images/header/bell.png" alt="">
    </div>
    <div class="avatar" (click)="isOpenUserPopup = !isOpenUserPopup">
      <img src="../../../assets/images/header/ocb.png" alt="">
      <div class="user-action" [ngClass]="{'openPopUp':isOpenUserPopup}">
        <p (click)="logout()">Logout</p>
      </div>
    </div>
  </div>
</nav>
