<div ngbDropdown class="d-inline-block action-op">
  <div
    style="height: 30px"
    class="cursor-pointer bg-secondary border-10"
    ngbDropdownToggle
  >
    ...
  </div>
  <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
    <button ngbDropdownItem>Quick start</button>
    <a ngbDropdownItem>
      Settings
    </a>
    <button ngbDropdownItem>Addons</button>
    <button ngbDropdownItem>Connections</button>
    <button ngbDropdownItem>Organizations</button>
  </div>
</div>
<!-- [routerLink]="['../', 'detail', item.id]"
[state]="item" -->
