// Core styles
@import "styles/__animations";
@import "styles/__forms";
@import "styles/__navigation";
@import "styles/__components";
@import "styles/__utilities";

// Import styles
@import "styles/mockup";
@import "styles/icons";
@import "styles/__section";
@import "styles/__pricing";
@import "styles/__heading";
@import "styles/misc";

.setting-list-page {
  @media screen and (min-width: 768px) {
    padding: 1.5rem !important;
    border-radius: 10px;
    border: 1px solid #d9e2ef !important;
    min-height: 500px;
  }
}
