/* You can add global styles to this file, and also import other style files */
.m-t-32{
  margin-top: 46px;
}
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active  {
  -webkit-box-shadow: 0 0 0  transparent inset !important;
}
.no-pd{
  padding: 0!important;
}
.no-mg{
  margin: 0!important;
}
.border-10{
  border-radius: 10px;
}


//Font
//Rationale-Regular
@font-face {
  font-family: "Rationale";
  font-style: normal;
  src: url('./assets/fonts/Rationale-Regular.ttf') format('truetype');
}
//Roboto Regular
@font-face {
  font-family: "Roboto-R";
  font-style: normal;
  src: url('./assets/fonts/Roboto-Regular.ttf') format('truetype');
}

//Roboto Bold
@font-face {
  font-family: "Roboto-B";
  font-style: normal;
  src: url('./assets/fonts/Roboto-Bold.ttf') format('truetype');
}

//Roboto Italic
@font-face {
  font-family: "Roboto-I";
  font-style: normal;
  src: url('./assets/fonts/Roboto-Italic.ttf') format('truetype');
}

//Roboto Bold Italic
@font-face {
  font-family: "Roboto-B-I";
  font-style: normal;
  src: url('./assets/fonts/Roboto-BoldItalic.ttf') format('truetype');
}
