.mobile-device {
  @media screen and (max-width: 767px) {
    display: none;
  }
}
a {
  color: var(--secondary);
}
a:hover {
  color: var(--info);
}
.active-link {
  color: var(--info) !important;
}
.left-nav {
  position: fixed;
  padding-left: 5px;
  padding-right: 5px;
  z-index: 999;
  width: 145px;
  //width: 42px;
  margin-top: 0 !important;
  overflow-y: auto;
  border-right: 1px solid #e3e4e6;
  background-color: white;
  height: calc(100% - 90px);
  overflow-x: hidden;
  .item {
    height: 30px;
    overflow: hidden;
  }
}

.left-nav:hover {
  width: 145px;
  transition: all 0.3s ease 0s;
}
.button-close {
  animation-name: example;
  animation-duration: 0.6s;
}
@keyframes example {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.3;
  }
  100% {
    opacity: 0.6;
  }
}

.width-30 {
  width: 42px;
}
